{% extends "base.html" %}
{# Номер лаб работы #}
{% block lab %} Лабораторная работа 3 {% endblock %}
{# Осн контент #}
{% block main %}

    {% if user and age %}

        <h1> Привет, {{ user }} </h1>
        <h2>Добро пожаловать на наш сайт! </h2>

        <div> 
            Ваш возраст: {{ age }}
        </div>
        <div> 
            Ваш пол: {{ 'Мужской' if sex == 'male' else 'Женский' }}
        </div>

        <div> 
            <a href = '/lab3/form1'> Заново </a>
        </div>
    {% else %}

        <h1>Пользователь </h1>

        <form>
            <label> Ваше имя: </label>
            <div>
                <input type='text' placeholder='как вас зовут?' name='user' value="{{ user or '' }}">
                <span class='error'> {{ errors.user or ''}} </span>
            </div>

            <label> Ваш возраст: </label>
            <div>
                <input type="number" placeholder="Сколько вам лет?" name="age" value="{{ age or '' }}"><br>
                <span class="error">{{ errors.age or ''}}</span>
            </div>

            <label> Ваш пол: </label>
            <div>
                <select name='sex'>
                    <option value='male' {{ 'selected' if sex == 'male' else '' }}>Мужчина</option>
                    <option value='female' {{ 'selected' if sex == 'female' else '' }}>Женщина</option>
                </select>
            </div>
            <div>
                <button type='submit'> Отправить</button>
            </div>
        </form>
    {% endif %}
{% endblock %}