{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <style>
        h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background-color: #f9f9f9;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        li:hover {
            background-color: #e9e9e9;
        }
        body {
            background-color: #f0f8ff; 
        }
    </style>
    <h1>Зарегистрированные пользователи</h1>
    <ul>
        {% for user in users %}
            <li>{{ user['login'] }}</li>
        {% endfor %}
    </ul>
{% endblock %}