<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ url_for('static', filename='favicon (2).ico') }}">
</head>

<body>
    <header>
        
    {% block script %}{% endblock %}
        {% block style %}{% endblock %}
    </header>

    <main>
        {% block site %}<a href= 'http://127.0.0.1:5000/'>Корень сайта </a>{%endblock%}
        {% block main %} {% endblock %}

    </main>


    
</body>
</html>