<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if name %}
                {{name}},
            {% else %}
                Аноним, 
            {% endif %} 
            {% block lab %}
            {% endblock %}
    </title>
    <link rel="icon" href="{{ url_for('static', filename='favicon (2).ico') }}">
</head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
        body{
            {% if request.cookies.get('color') %}
            color: {{ request.cookies.get('color')}};
            {% endif %}
        }
    </style>
<body>
    <header>
        НГТУ, ФБ, WEB-программирование, часть 2. {% if self.lab() %} Лабораторная работа 5 {% endif %}
    </header>

    <main>
        {% block site %}<a href= 'http://127.0.0.1:5000/'>Корень сайта </a>{%endblock%}
        {% block main %} {% endblock %}
    </main>

    <footer>    
        &copy; 
        {% if name %}
            Студент: {{name}}, 
        {%  else %}
            Аноним,
        {% endif %}

        {% if group %}
            Группа: {{group}},
        {%  else %}
            Неопределена,
        {% endif %}

        {% if course %}
            Курс: {{course}},
        {%  else %}
            Неопределен,
        {% endif %}       
        
        {% if year %}
        Год: {{year}},
        {%  else %}
            Неопределен,
        {% endif %}       
    </footer>
    
</body>
</html>